:root {
  --gap: 8px;
  --gap0-5: calc(var(--gap)*0.5);
  --gap1-5: calc(var(--gap)*1.5);
  --gap2: calc(var(--gap)*2);
  --gap3: calc(var(--gap)*3);
  --gap4: calc(var(--gap)*4);
  --gap5: calc(var(--gap)*5);
  --gap6: calc(var(--gap)*6);
  --gap7: calc(var(--gap)*7);
  --gap8: calc(var(--gap)*8);

  --purple-dark: #350568;
  --purple-shadow: #35056880;
  --purple-light: #5C2986;
  --green: #F19306;
  --text-color: #fff;
  --white-opaque: #ffffff80;
  --error:  #ff0033;
  --white: #fff;

  --font-family: Manrope;

  --border-radius: 3px;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
}

div {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.Header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10rem;
  background-color: var(--purple-dark);
  padding: var(--gap) 10%;
  margin-bottom: var(--gap5);
}

.Header svg {
  width: 3rem;
  height: auto;
  align-self: center;
}

@media (max-width: 500px) {
  .Header {
    height: 5rem;
    margin-bottom: var(--gap5);
  }
  .Header svg {
    width: 2rem;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.CitySearch {
  display: flex;
  justify-content: center;
  position: relative;
}

input {
  width: 30rem;
  height: var(--gap3);
  margin: auto;
  border: 1px solid var(--purple-dark);
  border-radius: var(--border-radius);
  color: var(--purple-dark);
}

input:focus,
input:active {
  background-color: var(--purple-dark);
  color: var(--text-color);
}

.suggestions {
  position: absolute;
  top: 2.8rem;
  background-color: white;
  align-self: center;
  margin-top: 0;
  z-index: 10;
  width: 30rem;
  padding-bottom: var(--gap2);
  border: 1px solid var(--purple-dark);
  box-shadow: 2px 5px 10px var(--white-opaque);
}

.suggestions li {
  display: block;
  background-color: var(--text-color);
  color: var(--purple-dark);
  padding: var(--gap);
  z-index: 10;
  /* margin: var(--gap); */
}

.suggestions li:hover {
  background-color: var(--purple-dark);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.2s;
  z-index: 10;
}

.NumberOfEvents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap3);
}

.number-of-events {
  display: inline-block;
  color: var(--purple-dark);
  margin: 0;
}

#NumberOfEvents {
  margin: auto var(--gap);
  width: 4rem;
  text-align: center;
}

.EventList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--gap5);
  gap: var(--gap2);
  padding: 0;
}

.event {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: var(--gap2);
  padding: var(--gap3);
  border-radius: var(--border-radius);
  background-color: var(--purple-dark);
  color: var(--text-color);
}

button {
  width: 15rem;
  padding: var(--gap) var(--gap3);
  border-radius: var(--border-radius);
  background-color: var(--purple-dark);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1.6rem;
  align-self: flex-end;
  margin-top: var(--gap2);
  justify-self: flex-end;
}

button:hover {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--purple-dark);
  transition: .2s;
  cursor: pointer;
}

.event svg {
  position: relative;
  top: 6px;
  padding-right: 8px;
}

.event-description {
line-height: 120%;
}

.Alert {
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.4rem;
}

@media (max-width: 500px) {
  .Alert {
    top: 4rem;
    left: var(--gap);
    padding-right: var(--gap);
    transform: translate(0%);
  }
}

.Alert p {
  display: inline-block;
  text-align: center;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--gap5);
  z-index: 0;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
  margin-right: 10px;
  margin-left: 10px;
}


@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@import './nprogress.css';